#Data_Pulse_Navbar {
  height: 95px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 10px solid;
  border-image: 1;
  border-image-source: linear-gradient(to right, #e94b4f, #5865ad);
}
#Data_Pulse_Navbar #Data_Pulse_Header {
  padding: 0px 35px;
}
#Data_Pulse_Navbar #Data_Pulse_Logo {
  max-width: 248px;
  max-height: 46px;
}
#Data_Pulse_Navbar #navbarNav {
  justify-content: flex-end;
}
#Data_Pulse_Navbar #navbarNav a {
  padding: 0px 25px;
  color: #121327;
}
#Data_Pulse_Navbar #navbarNav a:hover {
  color: #e94b4f;
}

#Banner_morethanahunch {
  min-height: 350px;
  background-image: url(../Sources/1x/banner_home.jpg);
  background-position: center;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}
#Banner_morethanahunch h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
}
#Banner_morethanahunch h1 #destacado {
  color: #e94b4f;
}
#Banner_morethanahunch h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

#Seccion-Banner-Aboutus {
  height: 180px;
  background-color: #121327;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#Seccion-Banner-Aboutus h1 {
  font-size: 20px;
  font-weight: 400;
}
#Seccion-Banner-Aboutus h2 {
  font-size: 28px;
  font-weight: 700;
}

#Seccion-Banner-Careers {
  height: 180px;
  background-color: #121327;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Seccion-Banner-Careers h1 {
  font-size: 28px;
  font-weight: 700;
}
#Seccion-Banner-Careers h2 {
  font-size: 20px;
  font-weight: 400;
}

#Seccion-Banner-Solutions {
  height: 180px;
  background-color: #121327;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Seccion-Banner-Solutions h1 {
  font-size: 28px;
  font-weight: 700;
}
#Seccion-Banner-Solutions h2 {
  font-size: 20px;
  font-weight: 400;
}
#Seccion-Banner-Solutions br {
  display: none;
}

#Seccion-Banner-Contact {
  height: 180px;
  background-color: #121327;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#Seccion-Banner-Contact h1 {
  font-size: 20px;
  font-weight: 400;
}
#Seccion-Banner-Contact h2 {
  font-size: 28px;
  font-weight: 700;
}

#Servicios {
  margin: 50px 0px;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}
#Servicios h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
#Servicios h2 {
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
#Servicios #takebetterdes, #Servicios #transform {
  color: #e94b4f;
  font-weight: 700;
}
#Servicios #Serviciosgrid {
  margin: 0px auto;
  max-width: 1100px;
}
#Servicios #Serviciosgrid img {
  max-height: 71px;
  max-width: 71px;
}
#Servicios #Serviciosgrid p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 10px;
}

#About-Us {
  margin: 85px 0px 50px 0px;
  text-align: center;
  box-sizing: border-box;
}
#About-Us #Aboutgrid {
  margin: 0px auto;
  max-width: 870px;
}
#About-Us #Aboutgrid img {
  max-height: 71px;
  max-width: 71px;
  margin: 10px 20px 100px 0px;
}
#About-Us #Aboutgrid h3 {
  color: #5865ad;
  font-size: 20px;
  text-align: justify;
}
#About-Us #Aboutgrid p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-align: justify;
  color: #808080;
  width: 100%;
  display: flex;
  margin-bottom: 60px;
}

#Solutions-Sec {
  margin: 60px 0px 0px 0px;
  text-align: center;
  box-sizing: border-box;
}
#Solutions-Sec #Solutionsgrid {
  margin: 0px auto;
  max-width: 850px;
}
#Solutions-Sec #Solutionsgrid img {
  max-height: 71px;
  max-width: 71px;
  margin: 10px 20px auto 0px;
}
#Solutions-Sec #Solutionsgrid h3 {
  color: #5865ad;
  font-size: 20px;
  text-align: justify;
}
#Solutions-Sec #Solutionsgrid p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-align: justify;
  color: #808080;
  width: 100%;
  display: flex;
  margin-bottom: 60px;
}

#Careers {
  margin: 50px 0px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 420px;
}
#Careers img {
  max-width: 71px;
  max-height: 71px;
  margin-bottom: 60px;
}
#Careers h1 {
  font-family: "Montserrat", sans-serif;
  color: #5865ad;
  font-size: 20px;
  font-weight: 700;
}

#Contact {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  padding: 30px;
}
#Contact .contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
#Contact .contact-form .form-field .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
}
#Contact .contact-form .form-field .input-text:focus {
  outline: none;
}
#Contact .contact-form .form-field .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}

#Data_Pulse_Footer {
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F1F1F2;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #5865ad;
  font-weight: 600;
  box-sizing: border-box;
}
#Data_Pulse_Footer img {
  margin: 20px 0px;
  max-height: 52px;
  max-width: 119px;
}
#Data_Pulse_Footer p {
  margin: 10px 0px;
}
#Data_Pulse_Footer #footertext {
  color: #808080;
  font-weight: 400;
}
#Data_Pulse_Footer #Data_Pulse_SC {
  background-repeat: repeat;
  background-color: #121327;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 992px) {
  #Data_Pulse_Info_Mobile {
    display: none;
  }

  #Seccion-Banner-Careers br {
    display: none;
  }

  #misionmobile {
    display: none;
  }

  #visionmobile {
    display: none;
  }

  #storagemobile {
    display: none;
  }

  #predictivenmobile {
    display: none;
  }

  #visualizationmobile {
    display: none;
  }

  #webpagemobile {
    display: none;
  }

  #webappmobile {
    display: none;
  }
}
@media (max-width: 991px) {
  .nav-item {
    background-color: #ffffff;
    opacity: 95%;
    text-align: right;
    padding-top: 5x;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #Banner_morethanahunch h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  #Banner_morethanahunch h2 {
    padding: 0px 50px;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
  }

  #Servicios h1 {
    margin-bottom: 20px;
    font-size: 25px;
  }
  #Servicios h2 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
  }
  #Servicios p {
    padding-top: 0px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 20px;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    align-items: center;
  }
  #Servicios #Serviciosgrid {
    margin: 0;
  }
  #Servicios #Serviciosgrid #Servicioscont {
    padding: 10px 0px;
  }
  #Servicios #takebetterdes {
    color: #e94b4f;
    font-weight: bold;
  }

  #Seccion-Banner-Aboutus {
    height: 180px;
    background-color: #121327;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #Seccion-Banner-Aboutus h1 {
    font-size: 18px;
    font-weight: 400;
  }
  #Seccion-Banner-Aboutus h2 {
    font-size: 24px;
    font-weight: 700;
  }

  #Seccion-Banner-Careers {
    height: 180px;
    background-color: #121327;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #Seccion-Banner-Careers h1 {
    font-size: 24px;
    font-weight: 700;
  }
  #Seccion-Banner-Careers h2 {
    font-size: 18px;
    font-weight: 400;
  }

  #Seccion-Banner-Solutions {
    height: 180px;
    background-color: #121327;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #Seccion-Banner-Solutions h1 {
    font-size: 24px;
    font-weight: 700;
  }
  #Seccion-Banner-Solutions h2 {
    font-size: 18px;
    font-weight: 400;
  }
  #Seccion-Banner-Solutions h2 {
    font-size: 18px !important;
  }

  #Seccion-Banner-Contact {
    height: 180px;
    background-color: #121327;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #Seccion-Banner-Contact h1 {
    font-size: 18px;
    font-weight: 400;
  }
  #Seccion-Banner-Contact h2 {
    font-size: 24px;
    font-weight: 700;
  }

  #About-Us {
    margin: 50px 0px 0px 0px;
    text-align: center;
    box-sizing: border-box;
  }
  #About-Us #Aboutgrid {
    margin: 0px auto;
    width: 100%;
  }
  #About-Us #Aboutgrid img {
    max-height: 90px;
    max-width: 90px;
    margin: 10px 0px;
  }
  #About-Us #Aboutgrid h3 {
    color: #5865ad;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  #About-Us #Aboutgrid p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #808080;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
  }
  #About-Us #Aboutgrid #mision {
    display: none;
  }
  #About-Us #Aboutgrid #vision {
    display: none;
  }

  #Solutions-Sec {
    margin: 50px 0px 0px 0px;
    text-align: center;
    box-sizing: border-box;
  }
  #Solutions-Sec #Solutionsgrid {
    margin: 0px auto;
    width: 100%;
  }
  #Solutions-Sec #Solutionsgrid img {
    max-height: 90px;
    max-width: 90px;
    margin: 10px 0px;
  }
  #Solutions-Sec #Solutionsgrid h3 {
    color: #5865ad;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  #Solutions-Sec #Solutionsgrid p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #808080;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
  }
  #Solutions-Sec #Solutionsgrid #storage {
    display: none;
  }
  #Solutions-Sec #Solutionsgrid #predictive {
    display: none;
  }
  #Solutions-Sec #Solutionsgrid #visualization {
    display: none;
  }
  #Solutions-Sec #Solutionsgrid #webpage {
    display: none;
  }
  #Solutions-Sec #Solutionsgrid #webapp {
    display: none;
  }

  #Careers {
    justify-content: center;
    text-align: center;
  }

  #Data_Pulse_Info {
    display: none;
  }

  #Data_Pulse_Info_Mobile {
    text-align: center;
    padding: 0px 20px;
  }
}

/*# sourceMappingURL=main.css.map */
